<h1><%= herb.name %></h1>
    <ul>
        <% Object.keys(herb).forEach( el => { %>
            <li class='herb-data' data-id='<%= el._id %>'>
                <span><%= el %></span>
                <span><%= herb[el] %></span>
            </li>
        <% }) %>
    </ul>
<% if (user) { %>
    <a href="/herbs/edit/<%= herb._id %>"> Edit this Herb </a>
<% } %>
